.skills{
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
z-index: 1;
align-items: center;


&-wrapper{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
width: 100%;
max-width: 1100px;
gap: 12px;
@media (max-width: 960px) {
    flex-direction: column;
}
}
&-title{
    font-size: 42px;
text-align: center;
font-weight: 600;
margin-top: 20px;
  color: #F2F3F4;
  @media (max-width: 768px) {
margin-top: 12px;
font-size: 32px;
  }
}
&-description{
    font-size: 18px;
    text-align: center;
    max-width: 600px;
    color: #b1b2b3;
    @media (max-width: 768px) {
        font-size: 16px;
    }
}
&-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
    justify-content: center;
   
}
}
.skill-box{
    width: 100%;
    max-width: 500px;
    background: #171721;
    border: 0.1px solid #854CE6;
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    border-radius: 16px;
    padding: 18px 36px;
    @media (max-width: 768px) {
      max-width: 400px;
      padding: 10px 36px;
    }
    @media (max-width: 500px) {
      max-width: 330px;
      padding: 10px 36px;
    }

    &-title{
        font-size: 28px;
        font-weight: 600;
        color: #b1b2b3;
        margin-bottom: 20px;
        text-align: center;
    }
    &-list{
        display: flex;
        justify-content: center; 
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 20px;
    }
    &-items{
        font-size: 16px;
  font-weight: 400;
  color: #F2F3F4;
  border: 1px solid #F2F3F4;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 12px;
  }
  @media (max-width: 500px) {
    font-size: 14px;
    padding: 6px 12px;
  }
    }
    &-img{
        width: 24px;
        height: 24px;
    }
   
}

  

// .box-transition-0{
//     animation : lefttoright 2s forwards;
// }
// @keyframes lefttoright {
//     0% {
//       transform: translateX(-150%);
//     }
//     100% {
//       transform: translateX(0);
//     }
//   }
// .box-transition-1{
//     animation : righttoleft 2s forwards
// }
// @keyframes righttoleft {
//     0% {
//       transform: translateX(150%);
//     }
//     100% {
//       transform: translateX(0);
//     }
//   }