.modal{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background-color: #000000a7;
display: flex;
align-items: top;
justify-content: center;
overflow-y: scroll;
transition: all 0.5s ease;

&-wrapper{
    max-width: 800px;
width: 100%;
border-radius: 16px;
margin: 50px 12px;
height: min-content;
background-color: #171721;
color: #F2F3F4;
padding: 20px;
display: flex;
flex-direction: column;
position: relative;
}
&-title{
    font-size: 28px;
  font-weight: 600;
  color:#F2F3F4;
  margin: 8px 6px 0px 6px;
  @media only screen and (max-width: 600px) {
      font-size: 24px;
      margin: 6px 6px 0px 6px;
  }
}
&-description{
    font-size: 16px;
    font-weight: 400;
    color: #F2F3F4;
    margin: 8px 6px;
    @media only screen and (max-width: 600px) {
        font-size: 14px;
        margin: 6px 6px;
    }
}
&-image{
    width: 100%;
    height : 400px;
    object-fit: contain;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    @media only screen and (max-width: 600px) {
        width: 100%;
    height : 200px;
    }
    
}
&-tags{
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0px;
    @media only screen and (max-width: 600px) {
        margin: 4px 0px;
    }
    &-name{
        font-size: 14px;
        font-weight: 400;
        color: #854CE6;
        margin: 4px;
        padding: 4px 8px;
        border-radius: 8px;
        background-color: #854CE620;
        @media only screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
}
&-buttonsgroup{
    display: flex;
    justify-content: flex-end;
    margin: 12px 0px;
    gap: 12px;
}
&-button{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #854CE6;
color: #b1b2b3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease;
    &:hover {
        background-color: #854CE699;
    }
    @media only screen and (max-width: 600px) {
        font-size: 12px;
    }
}
}